
<div class="backdrop" (click)="onCancel()"></div>
<dialog open class="dialog">
  <h2 class="dialog-title">
    {{article() ? 'Edit Article' : 'Create Article'}}
  </h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input 
        id="title" 
        class="form-input"

        name="title" 
        [(ngModel)]="newArticle.title" 
        required />
    </div>

    <div class="form-group">
        <label for="price" class="form-label" >Price</label>
        <input 
        class="form-input"
            type="number"
            id="price" 
            name="price" 
            [step]="0.01"
            min="0.01"
            [(ngModel)]="newArticle.price" 
            required />
    </div>
    
    <div class="form-group">
      <label for="category" class="form-label">Category</label>
        <select [(ngModel)]="newArticle.category" id="category" name="category" 
         class="form-select" required>
            @for(category of categories(); track category){
                <option value="{{category}}">{{category}}</option>
            }
        </select>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</dialog>
